{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/**/*.js", "src/**/*.jsx"],
      "excludedFiles": ["src/**/*.test.js", "src/**/*.test.jsx"]
    }
  ],
  "env": {
    "browser": true
  }
}
