@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/subset-Raleway-Regular.woff2") format("woff2"),
    url("/fonts/raleway/subset-Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/subset-Raleway-Italic.woff2") format("woff2"),
    url("/fonts/raleway/subset-Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

html {
  background-color: #141414;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* The no-script block of text must be distinct */
#no-script-content {
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
  border-width: 1px;
  border-style: dotted;
  padding: 1em;
}
#no-script-content a {
  transition: color 0.1s ease;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.4);
}
#no-script-content a:hover {
  color: #ffffff;
}

/* The loading logo must always look cool */
.loading-logo {
  max-height: 80px;
  padding-top: 2em;
}
.loading-logo > .loader-slash {
  animation: pulse 2s ease-in-out infinite;
  -webkit-animation: pulse 2s ease-in-out infinite;
}
.loading-logo > .loader-bracket {
  animation: pulse 2s ease-in-out infinite;
  -webkit-animation: pulse 2s ease-in-out infinite;
  animation-delay: -0.1s;
}
.loading-logo > .loader-hexagon {
  animation: pulse 2s ease-in-out infinite;
  -webkit-animation: pulse 2s ease-in-out infinite;
  animation-delay: -0.2s;
}
@keyframes pulse {
  0% {
    fill: hsla(0, 0%, 100%, 0);
  }
  80% {
    fill: hsla(0, 0%, 100%, 1);
  }
  100% {
    fill: hsla(0, 0%, 100%, 8);
  }
}

@-webkit-keyframes pulse {
  0% {
    fill: hsla(0, 0%, 100%, 0);
  }
  80% {
    fill: hsla(0, 0%, 100%, 1);
  }
  100% {
    fill: hsla(0, 0%, 100%, 8);
  }
}
