[contenteditable]:focus {
    outline: 0px solid transparent;
}

p {
    font-size: 1.1em;
}

.ui.feed>.event>.content .extra.text {
    max-width: 100% !important;
}

.pad-top {
    padding-top: 30px;
}

.pad {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}